GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json
BIGQUERY_PROJECT_ID=meu-projeto-gcp
BIGQUERY_DATASET=financeiro
BIGQUERY_TABLE_LANCAMENTOS=lancamentos
FIREBASE_PROJECT_ID=meu-projeto-firebase
ITAU_CNPJ_EMPRESA=00000000000000
ITAU_AGENCIA=00000
ITAU_CONTA=000000000000
ITAU_DAC=0
ITAU_NOME_EMPRESA=MINHA EMPRESA LTDA
SECRET_KEY=change-me-in-production
